{% extends 'base.html' %}
{% block pagetitle %}
Contact Us here
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help You.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>P. Sutej Reddy</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am P. Sutej Reddy. Currently Pursuing my Bachelors degree in field of
                    Artificial Intelligence and Data Science. My Technical Expertise Lies on Python Programming and Data Science and Deep Learning. I am Also
                    Interested in Artificial Intelligence, Java Programming and SQL.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:sutejreddy7@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                sutejreddy7@gmail.com<br><br>
                <a target="_blank" href='https://github.com/SUTEJREDDYPUDIPARTHI'><img
                        src="https://image.flaticon.com/icons/png/512/25/25231.png" height="40" width="40"></a> :
                SUTEJREDDYPUDIPARTHI<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/pudiparthisutejreddy/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174857.png" height="40" width="40"></a> :
                pudiparthisutejreddy<br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>P. Dinakar sai Reddy </h3>
                <p class="lead" style="font-weight: 350;">Hi, I am P. Dinakar sai Reddy. Currently Pursuing my B.Tech in Artificial Intelligence and Data Science. My Main Focus is on Python and Machine Learning and Deep Learning. I am also intrested in Data Science.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:dhina3385@gmail.com'><img
                        src="https://image.flaticon.com/icons/png/512/281/281769.png" height="40" width="40"></a> :
                dhina3385@gmail.com<br><br>
                <a target="_blank" href='https://github.com/Dinakarsaireddy/'><img
                        src="https://image.flaticon.com/icons/png/512/174/174855.png" height="40" width="40"></a> :
                Dinakarsaireddy<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/p-dinakar-sai-reddy-836571241/'><img
                        src="{{url_for('static', filename='demo_images\download (2).png')}}" height="40" width="40"></a> :
                p-dinakar-sai-reddy-836571241<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}